* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cormorant Garamond", serif;
}

p {
    font-family: "Jost", sans-serif;
}

.cup {
    background-image: url(img/first\ photo.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: 4;
    position: relative;
}

.black {
    padding-left: 5rem;
}

.cup::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.399);
    top: 0;
    z-index: -1;
}

header {
    display: flex;
    align-items: center;
    gap: 31rem;
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding-top: 2rem;
    padding-bottom: 5rem;
}

/*=====================(products)=========================*/
.products a ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    color: rgb(255, 255, 255);
}

.products a {
    text-decoration: none;
}

.products ul li{
    position: relative;
}
.products ul li::before{
    transform: translateX(-0%);
}
.products ul li:hover::before{
    width: 100%;
}
.products ul li::before{
    content: "";
    position: absolute;
    height: 1.5px;
    width: 0%;
    background-color: rgb(200, 162, 122);
    bottom: -3px;
    left: 0;
    transition: 0.5s ease;
}


/*======================(pure)=============================*/
.pure .pre {
    color: rgb(200,162,122);
    padding-bottom: 4rem;
}

.pure h1 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
}

.pure h1 span {
    color: rgb(200,162,122);
}

.pure .para {
    color: grey;
    padding: 2rem 0;
}

.pure h3 {
    color: rgb(255, 255, 255);
}

.pure .shop {
    padding: 11px 25px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(122, 78, 45);
}

.pure .story {
    padding: 11px 25px;
    margin-left: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 1px solid grey;
}
.pure .story:hover{
    color: black;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.693);
    transition: all 0.5s ease;
}

.years {
    display: flex;
    gap: 30px;
    padding-top: 5rem;
    font-size: 25px;
    padding-bottom: 10rem;
}

.years p {
    color: grey;
    font-size: 13px;
}

/*=================================(FREE)==============================*/
.free ul {
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    background-color: rgb(122, 78, 45);
    padding: 10px;
}

/*==============================(SELECTION)============================*/
.selection {
    background-color: rgba(250, 235, 215, 0.529);
    padding-top: 10rem;
    padding: 5rem 5rem 3.5rem 5rem;
}

.our {
    color: green;
    font-size: 20px;
}

.for {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.for h1 {
    font-size: 45px;
}

.for a {
    text-decoration: none;
    border: 1px solid rgb(122, 78, 45);
    padding: 14px 31px;
    color: rgb(122, 78, 45);
}

/*==============================(SELECTION-|-PREMIUM)============================*/
.premium {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
    position: relative;
}

.forpadding {
    padding: 20px;
}

.tea img {
    height: 270px;
    width: 317px;
    object-fit: cover;
}

.tea {
    background-color: rgb(255, 255, 255);
    position: relative;
}
.tea::before {
    content: "SAVE 30%";
    height: 0%;
    width: 100%;
    position: absolute;
    background-color: rgb(200,162,122);
    bottom: 42.9%;
    display: flex;
    justify-content: center;
    color: rgb(255,255,255);
    font-size: 20px;
    transition: 0.5s ease;
    overflow: hidden;
}
.tea:hover::before{
    width: 100%;
    height: 7%;
}
.tea::before{
    transform: translateY(-0%);
}

.on-tea {
    position: absolute;
    top: 5rem;
    color: rgb(255, 255, 255);
    padding: 10px;
    z-index: 1;
}

.on-tea1 {
    background-color: rgb(122, 78, 45);
    padding: 4px;
    font-size: 13px;
}

.on-tea2 {
    background-color: green;
    margin-top: 5px;
    padding: 4px;
    font-size: 13px;
}

.on-black {
    position: absolute;
    top: 5rem;
    color: rgb(255, 255, 255);
    padding: 10px;
    z-index: 1;
    left: 21.5rem;
}

.on-black1 {
    background-color: rgb(122, 78, 45);
    padding: 5px;
    font-size: 13px;
}

.on-black2 {
    background-color: green;
    margin-top: 5px;
    padding: 4px;
    font-size: 13px;
}

.on-masala {
    position: absolute;
    top: 5rem;
    color: rgb(255, 255, 255);
    padding: 10px;
    z-index: 1;
    left: 43.1rem;
}

.on-masala1 {
    background-color: rgb(122, 78, 45);
    padding: 5px;
    font-size: 13px;
}

.on-masala2 {
    background-color: green;
    margin-top: 5px;
    padding: 4px;
    font-size: 13px;
}

.on-green {
    position: absolute;
    top: 5rem;
    color: rgb(255, 255, 255);
    padding: 10px;
    z-index: 1;
    right: 16.1rem;
}

.on-green1 {
    background-color: rgb(122, 78, 45);
    padding: 5px;
    font-size: 13px;
}

.on-green2 {
    background-color: green;
    margin-top: 5px;
    padding: 4px;
    font-size: 13px;
}

.tea p {
    color: rgb(200, 162, 122);
    padding-top: 20px;
    font-size: 15px;
}

.forpadding h2 {
    font-size: 20px;
    padding: 18px 0;
}

.star {
    font-size: 12px;
}

.star i:nth-child(-n+4) {
    color: rgb(251, 191, 36)
}

.star i:nth-child(5) {
    color: grey;
}

.star:nth-child(6) {
    color: grey;
}

.rupee {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rupee p span {
    text-decoration: line-through;
    color: grey;
    padding-left: 10px;
}

.rupee .cut {
    color: grey;
    font-size: 13px;
}

/*==========================(PERFECT)============================*/
.perfect {
    background-color: rgba(0, 0, 0, 0.826);
    padding: 8rem;
}

.find {
    text-align: center;
}

.find h1 {
    color: rgb(255, 255, 255);
    font-size: 49px;
}

.find p {
    color: rgb(200, 162, 122);
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
    position: relative;
}

.box1 img {
    height: 350px;
    width: 300px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.box1 p {
    color: darkgrey;
    font-size: 12px;
}
.box {
    display: flex;
    gap: 20px;
    padding-top: 5rem;
    justify-content: center;
}

 .box1 {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 350px;
}

.box1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.box1::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.box1:hover img {
    transform: scale(1.1);
} 

.box1 h2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.varities {
    position: absolute;
    bottom: 25px;
    z-index: 5;
    margin-left: 10px;
    line-height: 2;
}

/*=========================(HERITAGE)========================*/
.heritage {
    background-color: rgba(245, 245, 220, 0.616);
    padding: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.5;
    position: relative;
}

.heritage .year {
    position: absolute;
    bottom: 94px;
    padding: 10px;
    border: 1px solid rgb(200, 162, 122);
    left: 37.8rem;
    background-color: rgba(245, 245, 220);
}

.heritage .year h1 {
    font-size: 40px;
    color: rgb(122, 78, 45);
}

.heritage img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.leaf {
    display: flex;
    align-items: center;
    gap: 10px;
}

.garden {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.our-heritage {
    color: green;
}

.heritage p {
    color: grey;
    font-size: 15px;
}

.leaf p {
    font-size: 12px;
}

.leaf1 i {
    color: lightgreen;
}

.leaf2 i {
    color: green;
}

.leaf3 i {
    color: rgb(122, 78, 45);
}

.leaf4 i {
    color: red;
}

.learn button {
    background: rgb(122, 78, 45);
    color: rgb(255, 255, 255);
    padding: 9px 13px;
    border: none;
}

.heritage .craft {
    color: rgb(122, 78, 45);
}

/*====================(TESTIMONIALS)-=======================*/
.testimonials {
    background-color: rgba(210, 180, 140, 0.412);
    text-align: center;
    padding: 5rem;
}

.comments {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 5rem;
}

.testimonials .test {
    COLOR: GREEN;
    FONT-SIZE: 16PX;
}

.testimonials h1 {
    font-weight: 100;
    font-size: 47px;
}

.comment {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.comment p {
    text-align: justify;
}

.comment hr {
    margin: 15px 0 0 0;
}

.star2 {
    display: flex;
    justify-content: space-between;
    color: rgb(251, 191, 36);
    font-size: 13px;
    padding-bottom: 10px;
}

.quote {
    margin-left: 10.5rem;
    color: rgba(210, 180, 140, 0.412);
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 16px 0 0px 0;
    text-align: start;
    font-size: 13px;
    color: grey;
}

.name .pm {
    background-color: rgba(210, 180, 140, 0.412);
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
    color: rgb(122, 78, 45);
    border: none;
}

.name h5 {
    color: black;
    font-size: 12px;
}

.name p {
    font-size: 12px;
    color: gray;
}

.comment hr {
    color: rgba(210, 180, 140, 0.412);
}

/*======================(STAY)========================*/
.stay {
    text-align: center;
    background-color: rgb(122, 78, 45);
    padding: 4rem 0;
    line-height: 2;
}

.stay .stay-connected {
    color: rgb(200, 162, 122);
}

.stay h1 {
    font-size: 43px;
    color: rgb(255, 255, 255);
}

.stay p {
    color: rgb(255,255,255);
    font-size: 15px;
    padding: 30px 0;
}

.stay input {
    padding: 8px 124px 8px 15px;
    font-size: 18px;
    background: rgb(122, 78, 45);
    color: black;
    color: rgb(200, 162, 122);
    border: 1px solid rgb(200, 162, 122);
}

.stay button {
    padding: 8px 24px;
    background: rgb(200, 162, 122);
    color: rgb(122, 78, 45);
    border: none;
    margin-left: 22px;
    font-size: 20px;
}

/*==========================(EXPLORE)========================*/
.explore {
    display: flex;
    justify-content: space-around;
    padding: 5rem;
    background-color: rgba(0, 0, 0, 0.863);
}

.catogary h2 {
    color: rgb(255, 255, 255)
}

.catogary h6 {
    color: rgb(200, 162, 122);
    padding: 8px 0 15px 0;
    font-size: 14px;
}

.catogary p {
    color: grey;
}

.ift {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.same {
    border: 1px solid grey;
    padding: 10px 15px;
    color: grey;
}

.one p {
    padding-top: 15px;
}

.one {
    color: rgba(9, 27, 141, 0.66);
}

footer {
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-between;
    padding: 15px 120px;
    color: grey;
    background-color: rgba(0, 0, 0, 0.863);
}

.terms {
    display: flex;
    gap: 30px;
}

/*=============================(media-Quary)===============================*/


@media (max-width: 1024px) {
    .premium {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .box {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 349px);
        gap: 25px;
    }

    .box1::before {
        height: 99%;
        width: 86%;
    }

    .comments {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (max-width: 768px) {

    .premium,
    .box,
    .comments {
        width: 100%;
        display: grid;
        grid-template-columns: 300px;
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .explore,
    footer {
        font-size: 70%;
    }

    header {
        gap: 30%;
    }

    .box1::before {
        height: 99%;
        width: 100%;
    }

    .heritage img {
        height: 80%;
        width: 80%;
    }

    .stay button {
        margin-top: 10px;
    }
}