* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cormorant Garamond", serif;
}

body {
    font-family: "Jost", sans-serif;
}

.cup {
    background-image: url(img/first\ photo.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: 4;
    position: relative;
}

.black {
    padding-left: 5rem;
}

.cup::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(53, 52, 52, 0.488);
    top: 0;
    z-index: -1;
}

header{
    display: flex;
    align-items: center;
    gap: 31rem;
    color: rgb(255, 255, 255);
    padding-top: 2rem;
    padding-bottom: 5rem;
}
header p{
    font-size: 12px;
    letter-spacing: 3px;
}
/*=====================(products)=========================*/
.products a ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    color: rgb(255, 255, 255);
}

.products a {
    text-decoration: none;
}

.products ul li {
    position: relative;
}

.products ul li::before {
    transform: translateX(-0%);
}

.products ul li:hover::before {
    width: 100%;
}

.products ul li::before {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 0%;
    background-color: rgb(200, 162, 122);
    bottom: -3px;
    left: 0;
    transition: 0.5s ease;
}


/*======================(pure)=============================*/
.pure .pre {
    color: rgb(200, 162, 122);
    padding-bottom: 4rem;
    padding-left: 60px;
    font-size: smaller;
}
.pure{
    position: relative;
}
.pre::before {
    content: "------------------";
    position: absolute;
    left: 6px;
    /* background-color: rgb(122, 78, 45); */
    width: 100%;
}
.pure h1 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
}

.pure h1 span {
    color: rgb(200, 162, 122);
    font-style: italic;
}

.pure .para {
    color: grey;
    padding: 2rem 0;
}

.pure h3 {
    color: rgb(255, 255, 255);
}

.pure .shop {
    padding: 11px 25px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(122, 78, 45);
    transition: all 0.5s;
    cursor: pointer;
}

.pure .shop:hover {
    background-color: rgb(118, 52, 2);
    transition: all 0.5s;
}

.pure .story {
    padding: 11px 25px;
    margin-left: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 1px solid grey;
    transition: all 0.5s;
    cursor: pointer;
}

.pure .story:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.693);
    transition: all 0.5s ease;
}

.years {
    display: flex;
    gap: 30px;
    padding-top: 5rem;
    font-size: 25px;
    padding-bottom: 10rem;
}

.years p {
    color: grey;
    font-size: 13px;
}

/*=================================(top-bar)==============================*/

.top-bar {
    background: #8B5A2B;
    overflow: hidden;
    white-space: nowrap;
    padding: 7px;
}

.scroll-text span ul {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 15s linear infinite;
    color: white;
    font-size: smaller;
    gap: 7rem;
    display: flex;
    letter-spacing: 3px;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    
    100% {
        transform: translateX(-100%);
    }
}

/*==============================(SELECTION)============================*/
.selection {
    background-color: rgba(250, 235, 215, 0.529);
    padding-top: 10rem;
    padding: 5rem 5rem 3.5rem 5rem;
}

.our {
    color: green;
    font-size: 20px;
}

.for {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.for h1 {
    font-size: 45px;
}

.for a {
    text-decoration: none;
    border: 1px solid rgb(122, 78, 45);
    padding: 14px 31px;
    color: rgb(122, 78, 45);
}

/*==============================(SELECTION-|-PREMIUM)============================*/
.premium {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
    position: relative;
}

.forpadding {
    padding: 20px;
}

.tea img {
    height: 270px;
    width: 317px;
    object-fit: cover;
}

.tea {
    background-color: rgb(255, 255, 255);
    position: relative;
    transition: all 1s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.267);
}

.tea::before {
    content: "SAVE 30%";
    height: 0%;
    width: 100%;
    position: absolute;
    background-color: rgb(200, 162, 122);
    bottom: 42.9%;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: 0.5s ease;
    overflow: hidden;
}

.tea:hover::before {
    width: 100%;
    height: 7%;
}

.tea:hover {
    transform: scale(1.05);
}

.tea::before {
    transform: translateY(-0%);
}

.on-tea {
    position: absolute;
    top: 5rem;
    color: rgb(255, 255, 255);
    padding: 10px;
    z-index: 1;
}

.on-tea1 {
    background-color: rgb(122, 78, 45);
    padding: 4px;
    font-size: 13px;
}

.on-tea2 {
    background-color: green;
    margin-top: 5px;
    padding: 4px;
    font-size: 13px;
}

.on-black {
    position: absolute;
    top: 5rem;
    color: rgb(255, 255, 255);
    padding: 10px;
    z-index: 1;
    left: 21.5rem;
}

.on-black1 {
    background-color: rgb(122, 78, 45);
    padding: 5px;
    font-size: 13px;
}

.on-black2 {
    background-color: green;
    margin-top: 5px;
    padding: 4px;
    font-size: 13px;
}

.on-masala {
    position: absolute;
    top: 5rem;
    color: rgb(255, 255, 255);
    padding: 10px;
    z-index: 1;
    left: 43.1rem;
}

.on-masala1 {
    background-color: rgb(122, 78, 45);
    padding: 5px;
    font-size: 13px;
}

.on-masala2 {
    background-color: green;
    margin-top: 5px;
    padding: 4px;
    font-size: 13px;
}

.on-green {
    position: absolute;
    top: 5rem;
    color: rgb(255, 255, 255);
    padding: 10px;
    z-index: 1;
    right: 16.1rem;
}

.on-green1 {
    background-color: rgb(122, 78, 45);
    padding: 5px;
    font-size: 13px;
}

.on-green2 {
    background-color: green;
    margin-top: 5px;
    padding: 4px;
    font-size: 13px;
}

.tea p {
    color: rgb(200, 162, 122);
    padding-top: 20px;
    font-size: 15px;
}

.forpadding h2 {
    font-size: 20px;
    padding: 18px 0;
}

.star {
    font-size: 12px;
}

.star i:nth-child(-n+4) {
    color: rgb(251, 191, 36)
}

.star i:nth-child(5) {
    color: grey;
}

.star:nth-child(6) {
    color: grey;
}

.rupee {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rupee p span {
    text-decoration: line-through;
    color: grey;
    padding-left: 10px;
}

.rupee .cut {
    color: grey;
    font-size: 13px;
}

/*==========================(PERFECT)============================*/
.perfect {
    background-color: rgba(0, 0, 0, 0.826);
    padding: 8rem;
}

.find {
    text-align: center;
}

.find h1 {
    color: rgb(255, 255, 255);
    font-size: 49px;
}

.find p {
    color: rgb(200, 162, 122);
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
    position: relative;
}

.box1 img {
    height: 350px;
    width: 300px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.box1 p {
    color: darkgrey;
    font-size: 12px;
}

.box {
    display: flex;
    gap: 20px;
    padding-top: 5rem;
    justify-content: center;
}

.box1 {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 350px;
}

.box1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.box1::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.box1:hover img {
    transform: scale(1.1);
}

.box1 h2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.varities {
    position: absolute;
    bottom: 25px;
    z-index: 5;
    margin-left: 10px;
    line-height: 2;
}

/*=========================(HERITAGE)========================*/
.heritage {
    background-color: rgba(245, 245, 220, 0.616);
    padding: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.5;
    position: relative;
}

.heritage .year {
    position: absolute;
    bottom: 94px;
    padding: 10px;
    border: 1px solid rgb(200, 162, 122);
    left: 37.8rem;
    background-color: rgba(245, 245, 220);
}

.heritage .year h1 {
    font-size: 40px;
    color: rgb(122, 78, 45);
}

.heritage img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.leaf {
    display: flex;
    align-items: center;
    gap: 10px;
}

.garden {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.our-heritage {
    color: green;
}

.heritage p {
    color: grey;
    font-size: 15px;
}

.leaf p {
    font-size: 12px;
}

.leaf1 i {
    color: lightgreen;
}

.leaf2 i {
    color: green;
}

.leaf3 i {
    color: rgb(122, 78, 45);
}

.leaf4 i {
    color: red;
}

.learn button {
    background: rgb(122, 78, 45);
    color: rgb(255, 255, 255);
    padding: 9px 13px;
    border: none;
    cursor: pointer;
}

.learn button:hover {
    background-color: rgb(118, 52, 2);
    transition: all 0.5s;
}

.heritage .craft {
    font-style: italic;
    color: rgb(122, 78, 45);
}

/*====================(TESTIMONIALS)-=======================*/
.testimonials {
    background-color: rgba(210, 180, 140, 0.412);
    text-align: center;
    padding: 5rem;
}

.comments {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 5rem;
}

.testimonials .test {
    COLOR: GREEN;
    FONT-SIZE: 16PX;
}

.testimonials h1 {
    font-weight: 100;
    font-size: 47px;
}

.comment {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.comment p {
    text-align: justify;
}

.comment hr {
    margin: 15px 0 0 0;
}

.star2 {
    display: flex;
    justify-content: space-between;
    color: rgb(251, 191, 36);
    font-size: 13px;
    padding-bottom: 10px;
}

.quote {
    margin-left: 10.5rem;
    color: rgba(210, 180, 140, 0.412);
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 16px 0 0px 0;
    text-align: start;
    font-size: 13px;
    color: grey;
}

.name .pm {
    background-color: rgba(210, 180, 140, 0.412);
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
    color: rgb(122, 78, 45);
    border: none;
}

.name h5 {
    color: black;
    font-size: 12px;
}

.name p {
    font-size: 12px;
    color: gray;
}

.comment hr {
    color: rgba(210, 180, 140, 0.412);
}

/*======================(STAY)========================*/
.stay {
    text-align: center;
    background-color: rgb(122, 78, 45);
    padding: 4rem 0;
    line-height: 2;
}

.stay .stay-connected {
    color: rgb(200, 162, 122);
}

.stay h1 {
    font-size: 43px;
    color: rgb(255, 255, 255);
}

.stay p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 30px 0;
}

.stay input {
    padding: 8px 124px 8px 15px;
    font-size: 18px;
    background: rgb(122, 78, 45);
    border: 1px solid rgb(200, 162, 122);
}

input::placeholder {
    color: rgba(200, 162, 122, 0.81);
}

.stay button {
    padding: 8px 24px;
    background: rgb(200, 162, 122);
    color: rgb(122, 78, 45);
    border: none;
    margin-left: 22px;
    font-size: 20px;
}

/*==========================(EXPLORE)========================*/
.explore {
    display: flex;
    justify-content: space-around;
    padding: 5rem;
    background-color: rgba(0, 0, 0, 0.863);
}

.catogary h2 {
    color: rgb(255, 255, 255);
}

.catogary h6 {
    color: rgb(200, 162, 122);
    padding: 8px 0 15px 0;
    font-size: 14px;
}

.catogary p {
    color: grey;
}

.ift a {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.same {
    border: 1px solid grey;
    padding: 10px 15px;
    color: grey;
}

.one p {
    padding-top: 15px;
    text-decoration: none;
}

.one a {
    color: rgba(9, 27, 141, 0.66);
    text-decoration: none;
}

footer {
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-between;
    padding: 15px 120px;
    color: grey;
    background-color: rgba(0, 0, 0, 0.863);
}

.terms a {
    display: flex;
    gap: 30px;
    text-decoration: none;
    color: gray;
}


/*==========================(PRODUCT > HTML)============================*/
.head2{
    display: flex;
    align-items: center;
    gap: 27rem;
    font-size: 15px;
    color: black;
    padding: 1rem 5rem;
    border-bottom: 1px solid grey;
    background-color: beige;
    margin-bottom: 2rem;
}
.head2 ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 14px;
    color: gray;
}
#wrapper{
    background-color: beige;
}
.est h1{
    color: rgb(122, 78, 45);
}
.est p{
    color: rgb(200, 162, 122);
    font-size: 12px;
}

/*=============================(GOLD)=================================*/
.gold{
    padding: 0 5rem;
    display: flex;
    gap: 5rem;
}
.gold1 h3{
    color: grey;
    font-size: 15px;
    padding-bottom: 20px;
}
.gold1 h3 span{
    color: rgb(122, 78, 45);
}
.gold1 img{
    height: 500px;width: 500px;
    object-fit: cover;
}

.gold2{
    padding-top: 30px;
}
.gold2 h3{
    color: rgb(122, 78, 45);
    font-size: 15px;
}
.gold2 h3 span{
    background-color: rgba(128, 128, 128, 0.268);
    padding: 3px;
    margin-left: 8px;
}
.gold2 h1{
    font-size: 50px;
    padding: 1rem 0;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 10px 0px;
}
.price2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.price2 :first-child{
    color: rgb(122, 78, 45);
}
.price2 :nth-child(2){
    color: grey;
    text-decoration: line-through;
    font-size: 12px;
}
.price2 :nth-child(3){
    background-color: rgba(0, 128, 0, 0.295);
    color: rgb(43, 173, 43);
    font-size: 10px;
    padding: 5px;
}
.onefive{
    font-size: 10px;
}

.cart{
    display: flex;
    font-size: 20px;
    margin-top: 2rem;
}
.cart button {
    padding: 6px 10rem;
    margin-left: 10px;
    background-color:  rgb(122, 78, 45);
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
}
.cart .quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    gap: 5rem;
    padding: 8px 1rem;
    font-size: 25px;
}

.malty{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 2rem;
}
.malty p {
    border: 1px solid rgb(122, 78, 45);
    color: rgb(200, 162, 122);
    font-size: 12px;
    padding: 3px 10px;
    opacity: 0.6;
}
.free {
    display: flex;
    text-align: center;
    border: 1px solid rgb(200, 162, 122);
    justify-content: space-around;
    font-size: 14px;
    margin-top: 2rem;
    padding: 10px;
}
.delivery i{
    color: black;
}
.fresh i{
    color: green;
}
.return i {
    color: rgb(255, 255, 255);
    background-color: rgb(3, 183, 254);
    padding: 3px 1px;
    border-radius: 3px;
}
.color p{
    color: grey;
    font-size: 10px;
}
/*===============================(GOLD2 - BOLD)======================*/
.bold .vally{
    color: grey;
    padding-top: 1rem; 
}

/*========================(TEST_IMAGES)============================*/
.test-images{
    display: flex;
    gap: 20px;
    padding-left: 5rem;
    padding-top: 10px; 
}
.test-images .frist img{
    height: 100px;width: 100px;
    object-fit: cover;
}
.test-images .one img{
    border: 2px solid rgb(122, 78, 45);
}
.test-images .two img{
    opacity: 0.6;
}

/*============================(DESCRIPTION)============================*/
.description {
    display: flex;
    margin: 0 5rem;
    margin-top: 3rem;
    border-bottom: 1px solid rgb(200, 162, 122);;
    border-top: 1px solid rgb(200, 162, 122);;
}
.description p{
    padding: 10px 30px;
    font-size: 13px;
    color: grey;
}
.description p span{
    padding-bottom: 10px;
    color: rgb(122, 78, 45);
    border-bottom: 2px solid rgb(122, 78, 45);
    
}

/*============================(may-like)===============================*/
.may-like{
    padding-top: 2rem;
}
.may-like .space{
    color: grey;
    padding-bottom: 50px;
    margin-left: 5rem;
}
.tea2 {
    width: 19.8rem;
    margin-left: 5rem;
    margin-bottom: 4rem;
}
/*=============================(media-Quary)==============================*/


@media (max-width: 1024px) {
    .premium {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .box {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 349px);
        gap: 25px;
    }

    .box1::before {
        height: 99%;
        width: 86%;
    }

    .comments {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (max-width: 768px) {

    .premium,
    .box,
    .comments {
        width: 100%;
        display: grid;
        grid-template-columns: 300px;
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .explore,
    footer {
        font-size: 70%;
    }

    header {
        gap: 30%;
    }

    .box1::before {
        height: 99%;
        width: 100%;
    }

    .heritage img {
        height: 80%;
        width: 80%;
    }

    .stay button {
        margin-top: 10px;
    }
}